.home{
	width: 100%;
	height: 100%;
	min-width: 700px;
	min-height: 1000px;
	color:white;
	font-size:60px;
	text-align:center;
	padding-top:250px;
	background-image:url('../images/bgi.jpg');
	overflow:hidden;
}

.parallex{
    background-image:url('../images/parallex.jpg');
    height: 100%;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
	color:white;
	overflow:hidden;
}

.parallex2{
    background-image:url('../images/parallex2.jpg');
    height: 100%;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
	color:white;
	overflow:hidden;
}
.address
{
	color:black;
	font-size:20px;
	text-align:justify;
	background-color:white;
	overflow:hidden;
}

.social-icons{
	font-size:30px;
	background-color:green;
	padding-top:100px;
	overflow:hidden;
}
#mainnav{
	background-color:darkgreen;
	color:red;
	overflow:hidden;
}
#pl{
	 text-align: justify;
}
#whatid{
	width: 100%;
	height: 100%;
	overflow:hidden;
}
#about{
	width: 100%;
	height: 100%;
	overflow:hidden;
}
#experience{
	width: 100%;
	height: 100%;
	overflow:hidden;
}
#besties{
	width: 100%;
	height: 100%;
	overflow:hidden;
}
#contact{
	width: 100%;
	height: 100%;
	overflow:hidden;
}
